@model IEnumerable<Wine>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Inventory</h1>
<a class="btn btn-primary" asp-action="Create">Add a new wine</a>
<hr>
<table border="2"> 
    @foreach (var wine in Model)
    {
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Style</th>
            <th>Selling price</th>
            <th>Buying price</th>
            <th>Remaining bottles</th>
            <th>Vineyard</th>
            <th>Location</th>
            <th>Year</th>
            <th>Tasting notes</th>
            <th>Page</th>
        </tr>
        <tr>
            <td>@wine.Id</td>
            <td><img src="~/images/@wine.ImageName" alt="Picture of a wine bottle" width="150"></td>
            <td>@wine.Style</td>
            <td>@wine.SellingPrice</td>
            <td>@wine.BuyingPrice</td>
            <td>@wine.BottlesRemaining</td>
            <td>@wine.Vineyard</td>
            <td>@wine.Location</td>
            <td>@wine.Year</td>
            <td>@wine.TastingNotes</td>
            <td>
                <a asp-action="Details" asp-route-id="@wine.Id">Details</a>
            </td>
        </tr>
    }
</table>