@model IEnumerable<Wine>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Inventory</h1>
<a class="btn btn-danger" asp-action="Create">Add a new wine</a>
<hr>

<div>

@foreach (var wine in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="sm img-thumbnail" src="~/images/@wine.ImageName" alt="Picture of a wine bottle">
            <div class="caption">
                <h3>@wine.Style, @wine.Year</h3>
                <small>ID: @wine.Id</small>
                <p>
                    <ul>
                        <li>Selling Price: @wine.SellingPrice</li>
                        <li>Buying Price: @wine.BuyingPrice</li>
                        <li>Remaining bottles: @wine.BottlesRemaining</li>
                        <li>Vineyard: @wine.Vineyard</li>
                        <li>Location: @wine.Location</li>
                        <li><input type="text" value="@wine.TastingNotes"></li>
                    </ul>
                </p>
                <p>
                    <a class="btn btn-danger" asp-action="Details" asp-route-id="@wine.Id">Details</a>
                </p>
            </div>
        </div>
    </div>
}
</div>