@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Order #" + Model.Order.Id;
}

<h1>Order #@Model.Order.Id</h1>
<ul>
    <li>
        <ul>Purchased wines:
            @foreach (var w in Model.PurchasedWines)
            {
                <li>
                <a asp-controller="Inventory" asp-action="Details" asp-route-id="@w.Id">@w.Style, @w.Vineyard, @w.Year</a>
                </li>
            }
        </ul>
    </li>
    <li>Total amount due: @Model.Order.TotalAmountDue</li>
    <li>Status: <strong>@Model.Order.Status</strong></li>
</ul>
<hr>
<form method="POST" asp-action="Process">  
    <div>
        <input type="hidden" asp-for="@Model.Order.Id">
        <label asp-for="@Model.Order.Status"></label>
        <select asp-for="@Model.Order.Status" asp-items="@Html.GetEnumSelectList<OrderStatus>()"></select><span asp-validation-for="Order.Status" name="Model.Order.Status"></span>
    </div>
    <input class="btn btn-danger" type="submit" name="save" value="Change status">
</form>
<hr>

<a class="btn btn-danger" asp-action="Index">Back to orders</a>